/* ------------------------------------------
STYLESHEET FOR PHONE (360PX TO 600PX)
------------------------------------------ */

/* -------------------- HEADER SECTION -------------------- */
nav {
    z-index: 10;
}

/* ---------- NAV LEFT SIDE --------- */

/* Small screen dropdown menu */

.small-screen-dropdown-menu {
    display: block;
}

.small-screen-dropdown-menu .dropdown-menu-btn {
    display: block;
}

.small-dropdown-menu-container {
    clear: left;
    position: absolute;
    left: 0;
    top: 76px;
    width: 100%;
    z-index: 9;
    display: none;
    background-color: #e7e9eb;
    box-shadow: inset 0 10px 6px -6px #cccdcf;
    padding: 2.5rem 2.5rem;
}

.small-dropdown-menu-container .dropdown-cross-btn {
    display: block;
    width: 100%;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
}

.small-dropdown-menu-container .dropdown-cross-btn i {
    font-size: 2.4rem;
    float: right;
}

.small-dropdown-menu-container .dropdown {
    clear: left;
    display: block;
    width: 100%;
    background-color: #e7e9eb;
}

.small-dropdown-menu-container .dropdown .dropdown-btn{
    display: block;
    width: 100%;
    height: 50px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #000;
    background-color: transparent;
}

.small-dropdown-menu-container .dropdown .dropdown-btn:hover {
    background-color: #cccccc;
    color: #000;
}

.small-dropdown-menu-container .dropdown-link {
    display: block;
    clear: left;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: transparent;
}

.small-dropdown-menu-container .dropdown-link a {
    display: block;
    width: 100%;
    line-height: 50px;
    font-size: 2.2rem;
    color: #000;
}

.small-dropdown-menu-container .dropdown-link:hover {
    background-color: #cccccc;
}

/* ---------------- MEGA DROP DOWN MENU ----------------- */

.small-dropdown-menu-container .dropdown .dropdown-block {
    width: 100%;
    position: static;
    display: none;
}

.small-dropdown-block .content-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 5px;
}

/* Big screen dropdown menu */

.big-screen-dropdown-menu {
    display: none;
}

/* ---------- NAV RIGHT SIDE --------- */

nav .right .icons li:first-child {
    display: none;
}

nav .right .links .hollow-link {
    display: none;
}

nav .right .links .fill-link a{
    font-size: 1.3rem;
    padding: 10px 16px;
}


/*====================== LOGIN PAGE ======================*/

/* ----------- LOGIN PAGE HEADER ------------ */

.login-page-header {
    justify-content: flex-end;
}

.home-logo {
    display: none;
}

.login-cross-btn {
    font-size: 5rem;
}

/* ----------- LOGIN PAGE CONTAINER ------------ */

.login-page .container .login-container {
    display: block;
    width: 100%;
}

.login-container .login-block {
    border: none;
}

.signup-container .signup-block {
    border: none;
}

/* ---- LOGIN HELP BUTTON ---- */

.login-help-btn {
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
}

/* ---- BELOW LOGIN PAGE TEXT ---- */

.below-login-page-text{
    text-align: center;
    width: 100%;
}

/*====================== POSTER SECTION ======================*/

.poster-block {
    flex-direction: column;
} 

.poster-block .left {
    width: 100%;
}

.poster-block .left h2,
.js-poster-container .poster-block .left h2,
.python-poster-container .poster-block .left h2,
.sql-poster-container .poster-block .left h2 {
    font-size: 6rem;
}

.poster-block .right {
    display: none;
}

/*====================== LEARNING SECTION ======================*/

/* ------ PROGRAMMING LEARNING CONTAINER -------- */

.learning-section .programming-container {
    grid-template-columns: repeat(1, 1fr);
}

.programming-container .programming-item {
    margin-bottom: 1.5rem;
}

/* ------ FRAMEWORK LEARNING CONTAINER -------- */

.learning-section .framework-container {
    grid-template-columns: repeat(1, 1fr);
}

.framework-container .framework-item {
    margin-bottom: 1.5rem;
}

/* ------ TUTORIAL BUTTON CONTAINER -------- */

.learning-block .tutorial-btn-container-1 {
    grid-template-columns: repeat(1, 1fr);
}

.tutorial-btn-container-1 button {
    margin-bottom: 1.5rem;
}

/* ------ TUTORIAL BUTTON CONTAINER 2-------- */

.learning-block .tutorial-btn-container-2 {
    grid-template-columns: repeat(1, 1fr);
}

.tutorial-btn-container-2 button {
    margin-bottom: 1.5rem;
}

/*====================== COLOR PICKER SECTION ======================*/

.color-picker-section {
    padding: 7rem 1.2rem;
}

.color-picker-section h2 {
    font-size: 6rem;
}

/*====================== CODE GAME SECTION ======================*/

.code-game-section {
    padding: 7rem 0.5rem;
}

.code-game-section h2 {
    font-size: 6rem;
}

.code-game-section p {
    font-size: 2.5rem;
}

/*====================== BACKGROUND POSTER SECTION ======================*/

.bg-poster-section {
    padding: 7rem 4rem 5rem 4rem;
}

.bg-poster-button-block {
    grid-template-columns: repeat(1, 1fr);
}

.bg-poster-button-block button {
    margin-bottom: 2rem;
}

/*====================== WEB TEMPLATE SECTION ======================*/

.web-template-section {
    padding: 7rem 2rem;
}

.web-template-section button {
    padding: 1.5rem 8rem;
}

.web-template-image img {
    width: 95%;
}

/*====================== W3 CERTIFICATE SECTION ======================*/

.certificate-section {
    padding: 7rem 2rem;
}

.certificate-section h2 {
    font-size: 5rem;
    margin-bottom: 4rem;
}

.certificate-section h3 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

/*====================== CODE LEARN SECTION ======================*/

.code-section {
    padding: 7rem 2rem;
}

.code-section button {
    padding: 1.5rem 8rem;
}

/*====================== PAGE FOOTER ======================*/

.footer-btn-container {
    flex-direction: column;
    justify-content: center;
}

.footer-btn-container .left{
    margin-bottom: 2.5rem;
}

.footer-btn-container .left button {
    margin-right: 0.1rem;
}

.main-page-footer .browse-btn {
    padding: 1.5rem 8rem;
}

/* ======================== HTML LEARN PAGE STYLING ======================== */

/* ======== SUB HEADER STYLING ======== */

/* LEFT SIDE */

.sub-header .left .learn-btns button {
    display: none;
}

.sub-header .left .learn-btns button:nth-child(1),
.sub-header .left .learn-btns button:nth-child(2){
    display: inline-block;
}

@media screen and (max-width:450px){
    .sub-header .left .learn-btns button:nth-child(3){
        display: none;
    }
}

.sub-header .left .icons button:first-child{
    display: inline-block;
}

/* ----- VERTICAL SCROLL MENU ----- */
.scroll-dropdown-container .vertical-scroll-menu {
    display: none;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16), 0 3px 6px rgb(0, 0, 0, 0.23);
}

/* ======== MAIN BODY STYLING ======== */
main {
    padding: 0;
}

/* ----- HTML MAIN CONTAINER ----- */

main .main-block .main-container .html-main-container {
    width: 100%;
}

/* HTML MAIN CONTAINER HEADING SECTION */

.html-main-heading h1 {
    font-size: 3.5rem;
}

.html-main-container h2 {
    font-size: 2.8rem;
}

.html-main-container p {
    font-size: 1.4rem;
}

/* ----- SIDE BAR ADVERTISEMENT CONTAINER ----- */

main .main-container .side-ad-container {
    display: none;
}

/* HTML TUTORIAL REFERENCE STYLING */

.html-tut-reference .reference-btn-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* ----- HTML TUTORIAL MAIN FOOTER STYLING ----- */

.footer-container .footer-nav-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
}

.footer-container .footer-grid-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.footer-last-content .copyright-text {
    width: 70%;
}

/* -------------------------------------------------------------------------- */
/* ======================= SPACES PAGE STYLING ============================== */
/* -------------------------------------------------------------------------- */

/* ------------ HEADER STYLING ------------- */

.spaces-header nav .right {
    padding: 1rem;
}

.spaces-header nav .right button {
    width: 10rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 40px;
    border: 2px solid #059862;
}

.spaces-header nav .right button a {
    display: inline-block;
    width: 100%;
    line-height: 3.5rem;
}

/* ------------ SPACES POSTER SECTION STYLING ------------- */

.spaces-poster-container {
    height: 100%;
    padding: 3rem 0;
}


.spaces-poster-container .spaces-poster-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spaces-poster-content .left {
    margin-bottom: 3rem;
}

.spaces-poster-content .left h2{
    width: 70%;
}

/* ---------- W3SCHOOLS WEBSITE FEATURES SECTION --------- */

.w3schools-web-features {
    grid-template-columns: repeat(1, 1fr);
}

.w3schools-web-features .item {
    padding: 0 20%;
}

/* ----------- W3SCHOOLS PROCESS SECTION ----------- */

.process-section .content-block {
    width: 40rem;
}

.process-section .content-block .diagram-container {
    display: none;
}

.process-section .content-block ol {
    display: none;
}

.process-section .content-block .small-screen-diagram-container {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.small-screen-diagram-container .item {
    width: 100%;
    margin-bottom: 5rem;
}

.small-screen-diagram-container .item img {
    display: block;
    margin: 0 auto 3rem auto;
}

.small-screen-diagram-container .item p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 0 8rem;
}

/* -------------- SPACES W3SCHOOLS SERVICE PLAN SECTION -------------- */

.w3schools-plan-section .section-content {
    max-width: none;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 2rem;
    border-radius: 0;
}

.w3schools-plan-section .section-content .plan {
    width: 35rem;
    margin: 1rem auto;
    padding: 3rem 2rem;
    border-right: none;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
}

.w3schools-plan-section .section-content .plan1 {
    background-color: #282a35;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.3);
}

.w3schools-plan-section .section-content .plan1 .get-btn{
    width: 70%;
    margin: 2rem auto;
}